.Container{
  display: flex;
  flex-direction: column;
  background-color:rgba(0, 0, 0, 0.932);
  font-weight: white;
  color: white;
 }

 .city {
  background-color: tomato;
  color: white;
  border: 2px solid grey;
  margin: 20px;
  padding: 20px;
}

 /* For any div inside the class container*/
 .Container > div {
  border: 1px solid #ccc;
  padding: 10px;
 }

 .Column1,  .Column3, .column4, .column5, .column6, .column7 {
  flex: 1;
  color: white;
  size: 200px;
  background-color: rgba(0, 0, 0, 0.582);
  padding: 200px;
 }

 .Column1 {
  background-color: rgba(0, 0, 0, 0.582);
 }

 .column4 {
   flex-direction: row;
 }

 .Column2 {
  background-color: rgba(0, 0, 0, 0.582) ;
  color: darkblue;
 }

 .Column3 {
  background-color: rgba(0, 0, 0, 0.582);
  
 }

 .column5 {
   background-color: rgba(0, 0, 0, 0.582);
 }

 .column6 {
  background-color: rgba(0, 0, 0, 0.582);
 }

 .column7 {
  background-color: rgba(0, 0, 0, 0.582);
 }
 
 @media (max-width: 768px){
  .Container{
  flex-direction: column;
  }
 }

